
@import  "variables.scss";

li{
    list-style: none;
    pointer-events: none;
    cursor: default;
}

.row{
    margin-left:52px!important;
    margin-right:52px!important;
}

/* ---------- MENU ---------- */
.background_menu{
    background-color:$dark-blue;
    height: 89px;
    z-index: 5;
}
.imgsize{
    width: 255px;
    background-color:white;
    box-shadow: 3px 3px 8px lightgrey;
    padding:11px 22px 15px 22px;
    height: 184px;
}
#menu ul{
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
    padding-left:50px;
    li a{
        color: white;
        font-size: 20px;
        font-weight: 100;
    }
}


/* ----------LEFT  MENU ---------- */
#sidebar {
    min-width: 210px;
    max-width: 210px;
    height: 1075px;
    position: absolute;
    top: 89px;
    left: 10px;
    z-index: 9999;
    box-shadow: 7px 0 5px -5px lightgrey;
    background-color: white;
}
#leftmenu ul{
    padding-top:80px;
    li{
        padding-top:5px;
        a{
            color: $dark-blue;
            font-size:20px;
          
        }
    }
}

.fbicon{
    margin-top:10px;
    margin-left:4px;
    height:23px;
}
.instaicon{
    margin-top:14px;
    margin-left:3px;
    height:23px;
}

.hrline{
    width: 100px;
    margin-left: 0;
    margin-top:14px;
    margin-bottom:18px;
    border-top: 2px dotted #0066CD;  
    
}
.newarray{
    
    position: absolute;
    top: 410px;
    left: 146px;
    z-index: 9999;
}
.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
#array{
    height:14px;
}

/* ----------SIDEBAR SEARCH ---------- */
#sidebar_search{
    min-width: 180px;
    max-width: 450px;
    position: absolute;
    top: 29px;
    right: 17px;
    z-index: 9999;
    
}
.searchinput{
    display: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline: none;
    width:130px;
}
.glyphicon{
    color:white;
    font-size:30px;
    margin-top:8px;
    margin-right: 10px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.flex-container {
    display: flex;
    justify-content: flex-end;
  }

/* ---------- CONTENT ---------- */
.home{
    display:flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    img{
        width: 82px;
        height: 76px;
        margin-left:26px;
        padding-top:2px;
    }
 
}
#hometext{
    font-size:30px;
    padding-top:23px;
    padding-left:20px;
    color:rgb(0, 59, 95);
    font-weight:100;
}
.hrlong{
    width: 100%;
    border-top: 2px dotted #0066CD;
    margin-top:46px;
    margin-bottom:40px;
}
.content{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding-top:45px;
    img{
        width:100%;
        height: 100%;
    }
    p{
        font-size:16px;
        font-weight: 100;
        text-align: justify;
        margin-top:19px;
        
       
    }
}


/* ---------- FOOTER ---------- */

#footer{
    height: 68px;
    background-color:rgb(0, 59, 95);
    margin-top:62px;
}


 

